In [1]:
import pandas as pd

train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [2]:
train.shape

(26457, 20)

In [3]:
test.shape

(10000, 19)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [5]:
train.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       8171
family_size         0
begin_month         0
credit              0
dtype: int64

In [6]:
train=train.drop('occyp_type', axis=1)
test=test.drop('occyp_type', axis=1)

In [7]:
unique_len = train.apply(lambda x : len(x.unique()))

unique_len

index            26457
gender               2
car                  2
reality              2
child_num            9
income_total       249
income_type          5
edu_type             5
family_type          5
house_type           6
DAYS_BIRTH        6621
DAYS_EMPLOYED     3470
FLAG_MOBIL           1
work_phone           2
phone                2
email                2
family_size         10
begin_month         61
credit               3
dtype: int64

In [8]:
train=train.drop('index', axis=1)
test=test.drop('index', axis=1)

train=train.drop('FLAG_MOBIL', axis=1)
test=test.drop('FLAG_MOBIL', axis=1)

In [9]:
train['gender'] = train['gender'].replace(['F','M'],[0,1])
test['gender'] = test['gender'].replace(['F','M'],[0,1])
print(train['gender'].value_counts())

train['car'] = train['car'].replace(['N','Y'],[0,1])
test['car'] = test['car'].replace(['N','Y'],[0,1])
print(train['car'].value_counts())

train['reality'] = train['reality'].replace(['N','Y'],[0,1])
test['reality'] = test['reality'].replace(['N','Y'],[0,1])
print(train['reality'].value_counts())

print(train['phone'].value_counts())

print(train['email'].value_counts())    

print(train['work_phone'].value_counts())

0    17697
1     8760
Name: gender, dtype: int64
0    16410
1    10047
Name: car, dtype: int64
1    17830
0     8627
Name: reality, dtype: int64
0    18672
1     7785
Name: phone, dtype: int64
0    24042
1     2415
Name: email, dtype: int64
0    20511
1     5946
Name: work_phone, dtype: int64

In [10]:
train=train.drop('child_num', axis=1)
test=test.drop('child_num', axis=1)
print(train['family_size'].value_counts())

2.0     14106
1.0      5109
3.0      4632
4.0      2260
5.0       291
6.0        44
7.0         9
15.0        3
9.0         2
20.0        1
Name: family_size, dtype: int64

In [11]:
quartiles = train['family_size'].quantile([0.25, 0.5, 0.75])
print(quartiles)

0.25    2.0
0.50    2.0
0.75    3.0
Name: family_size, dtype: float64

In [12]:
train.loc[train['family_size'] >= 4,'family_size']=4
test.loc[test['family_size']>=4, 'family_size']=4
print(train['family_size'].value_counts())

2.0    14106
1.0     5109
3.0     4632
4.0     2610
Name: family_size, dtype: int64

In [13]:
def days_to_year(x):
    if x<0:
        return (x*(-1))/365
    return 0

def minus_to_plus(x):
    if x<0:
        return x*(-1)
    return 0

In [14]:
train['DAYS_BIRTH'] = train['DAYS_BIRTH'].apply(days_to_year)
train['DAYS_EMPLOYED'] = train['DAYS_EMPLOYED'].apply(days_to_year)
train['begin_month'] = train['begin_month'].apply(minus_to_plus)

test['DAYS_BIRTH'] = test['DAYS_BIRTH'].apply(days_to_year)
test['DAYS_EMPLOYED'] = test['DAYS_EMPLOYED'].apply(days_to_year)
test['begin_month'] = test['begin_month'].apply(minus_to_plus)

In [15]:
#생략 가능

train['family_size'] = train['family_size'].astype('int64')
test['family_size'] = test['family_size'].astype('int64')

train['begin_month'] = train['begin_month'].astype('int64')
test['begin_month'] = test['begin_month'].astype('int64')

In [16]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)

income_type_encoded = encoder.fit_transform(train[['income_type']])
income_type_encoded_df = pd.DataFrame(income_type_encoded, columns=encoder.get_feature_names_out(['income_type']))
train = pd.concat([train, income_type_encoded_df], axis=1).drop('income_type', axis=1)

income_type_encoded_test = encoder.transform(test[['income_type']])
income_type_encoded_test_df = pd.DataFrame(income_type_encoded_test, columns=encoder.get_feature_names_out(['income_type']))
test = pd.concat([test, income_type_encoded_test_df], axis=1).drop('income_type', axis=1)

encoder = OneHotEncoder(sparse_output=False)
edu_type_encoded = encoder.fit_transform(train[['edu_type']])
edu_type_encoded_df = pd.DataFrame(edu_type_encoded, columns=encoder.get_feature_names_out(['edu_type']))
train = pd.concat([train, edu_type_encoded_df], axis=1).drop('edu_type', axis=1)

edu_type_encoded_test = encoder.transform(test[['edu_type']])
edu_type_encoded_test_df = pd.DataFrame(edu_type_encoded_test, columns=encoder.get_feature_names_out(['edu_type']))
test = pd.concat([test, edu_type_encoded_test_df], axis=1).drop('edu_type', axis=1)

encoder = OneHotEncoder(sparse_output=False)
family_type_encoded = encoder.fit_transform(train[['family_type']])
family_type_encoded_df = pd.DataFrame(family_type_encoded, columns=encoder.get_feature_names_out(['family_type']))
train = pd.concat([train, family_type_encoded_df], axis=1).drop('family_type', axis=1)

family_type_encoded_test = encoder.transform(test[['family_type']])
family_type_encoded_test_df = pd.DataFrame(family_type_encoded_test, columns=encoder.get_feature_names_out(['family_type']))
test = pd.concat([test, family_type_encoded_test_df], axis=1).drop('family_type', axis=1)

encoder = OneHotEncoder(sparse_output=False)
house_type_encoded = encoder.fit_transform(train[['house_type']])
house_type_encoded_df = pd.DataFrame(house_type_encoded, columns=encoder.get_feature_names_out(['house_type']))
train = pd.concat([train, house_type_encoded_df], axis=1).drop('house_type', axis=1)

house_type_encoded_test = encoder.transform(test[['house_type']])
house_type_encoded_test_df = pd.DataFrame(house_type_encoded_test, columns=encoder.get_feature_names_out(['house_type']))
test = pd.concat([test, house_type_encoded_test_df], axis=1).drop('house_type', axis=1)

In [17]:
train.head()

,gender,car,reality,income_total,DAYS_BIRTH,DAYS_EMPLOYED,work_phone,phone,email,family_size,...,family_type_Married,family_type_Separated,family_type_Single / not married,family_type_Widow,house_type_Co-op apartment,house_type_House / apartment,house_type_Municipal apartment,house_type_Office apartment,house_type_Rented apartment,house_type_With parents
0,0,0,0,202500.0,38.079452,12.901370,0,0,0,2,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,0,1,247500.0,31.178082,4.219178,0,0,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1,1,1,450000.0,52.293151,12.147945,0,1,0,2,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0,0,1,202500.0,41.336986,5.731507,0,1,0,2,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0,1,1,157500.0,41.197260,5.767123,0,0,0,2,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

X = train.drop(columns=['credit'])  
y = train['credit']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# 예측값을 0, 1, 2 범주로 변환
def convert_to_category(predictions, threshold):
    categories = []
    for pred in predictions:
        if pred <= threshold[0]:
            categories.append(0)
        elif pred <= threshold[1]:
            categories.append(1)
        else:
            categories.append(2)
    return categories

# 임계값
threshold = [0.5, 1.5]  # 예시 임계값

y_pred_categories = convert_to_category(y_pred, threshold)

accuracy = accuracy_score(y_test, y_pred_categories)
print("정확성: ", accuracy)

정확성:  0.5081254724111867

In [19]:
import numpy as np

def generate_random_threshold():
    return np.sort(np.random.uniform(low=0, high=2, size=2))

np.random.seed(42)

best_accuracy = 0.0
best_threshold = None

for _ in range(100):  
    threshold = generate_random_threshold()

    y_pred_categories = convert_to_category(y_pred, threshold)

    accuracy = accuracy_score(y_test, y_pred_categories)

    print("임계값:", threshold, "정확성:", accuracy)

    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_threshold = threshold

print("가장 높은 정확성:", best_accuracy)
print("가장 높은 정확성을 가진 임계값 조합:", best_threshold)

임계값: [0.74908024 1.90142861] 정확성: 0.23847316704459562
임계값: [1.19731697 1.46398788] 정확성: 0.5636810279667422
임계값: [0.31198904 0.31203728] 정확성: 0.6386999244142101
임계값: [0.11616722 1.73235229] 정확성: 0.25321239606953894
임계값: [1.20223002 1.41614516] 정확성: 0.6294406651549509
임계값: [0.04116899 1.9398197 ] 정확성: 0.23847316704459562
임계값: [0.42467822 1.66488528] 정확성: 0.3063114134542706
임계값: [0.36364993 0.36680902] 정확성: 0.6386999244142101
임계값: [0.60848449 1.04951286] 정확성: 0.6386999244142101
임계값: [0.58245828 0.86389004] 정확성: 0.6386999244142101
임계값: [0.27898772 1.22370579] 정확성: 0.6386999244142101
임계값: [0.5842893  0.73272369] 정확성: 0.6386999244142101
임계값: [0.91213997 1.57035192] 정확성: 0.4145880574452003
임계값: [0.39934756 1.02846888] 정확성: 0.6386999244142101
임계값: [0.09290083 1.18482914] 정확성: 0.6386999244142101
임계값: [0.34104825 1.2150897 ] 정확성: 0.6386999244142101
임계값: [0.13010319 1.89777107] 정확성: 0.23847316704459562
임계값: [1.6167947  1.93126407] 정확성: 0.13624338624338625
임계값: [0.19534423 0.60922754] 정확성: 0.6386999244142101
임계값: [0.88030499 1.36846605] 정확성: 0.6519274376417233
임계값: [0.24407647 0.99035382] 정확성: 0.6386999244142101
임계값: [0.06877704 1.8186408 ] 정확성: 0.23866213151927437
임계값: [0.51755996 1.32504457] 정확성: 0.6417233560090703
임계값: [0.62342215 1.04013604] 정확성: 0.6386999244142101
임계값: [0.36970891 1.09342056] 정확성: 0.6386999244142101
임계값: [1.55026565 1.93916926] 정확성: 0.15098261526832957
임계값: [1.7896547  1.87899788] 정확성: 0.1226379440665155
임계값: [1.19579996 1.84374847] 정확성: 0.23847316704459562
임계값: [0.176985   0.39196572] 정확성: 0.6386999244142101
임계값: [0.09045458 0.65066066] 정확성: 0.6386999244142101
임계값: [0.54269806 0.77735458] 정확성: 0.6386999244142101
임계값: [0.71350665 1.65747502] 정확성: 0.3167044595616024
임계값: [0.56186902 1.08539217] 정확성: 0.6386999244142101
임계값: [0.28184845 1.60439396] 정확성: 0.37226001511715795
임계값: [0.14910129 1.97377387] 정확성: 0.23847316704459562
임계값: [0.39743136 1.54448954] 정확성: 0.4501133786848073
임계값: [0.01104423 1.63092286] 정확성: 0.3425925925925926
임계값: [1.41371469 1.45801434] 정확성: 0.5168178382464097
임계값: [0.1480893  1.54254069] 정확성: 0.4527588813303099
임계값: [0.23173812 0.71693146] 정확성: 0.6386999244142101
임계값: [1.24659625 1.72620685] 정확성: 0.25736961451247165
임계값: [0.1271167  0.66179605] 정확성: 0.6386999244142101
임계값: [0.62196464 0.65036664] 정확성: 0.6386999244142101
임계값: [1.27511494 1.45921236] 정확성: 0.5672713529856387
임계값: [0.94442985 1.77442549] 정확성: 0.2418745275888133
임계값: [0.23918849 1.42648957] 정확성: 0.6165910808767952
임계값: [1.1225544 1.5215701] 정확성: 0.4767573696145125
임계값: [0.98759119 1.54193436] 정확성: 0.45408163265306123
임계값: [0.85508204 1.04546566] 정확성: 0.6386999244142101
임계값: [0.05083825 0.21578285] 정확성: 0.6386999244142101
임계값: [0.06285837 1.27282082] 정확성: 0.6392668178382465
임계값: [0.62871196 1.01714138] 정확성: 0.6386999244142101
임계값: [0.49858446 1.81513295] 정확성: 0.23866213151927437
임계값: [0.82076585 1.51110228] 정확성: 0.49603174603174605
임계값: [0.15395982 0.45759633] 정확성: 0.6386999244142101
임계값: [0.32244257 0.57950291] 정확성: 0.6386999244142101
임계값: [1.61624076 1.8593953 ] 정확성: 0.136432350718065
임계값: [1.26680751 1.74292118] 정확성: 0.24792139077853365
임계값: [0.37314012 1.60734415] 정확성: 0.3698034769463341
임계값: [1.07868448 1.785118  ] 정확성: 0.24017384731670446
임계값: [1.61488031 1.7921826 ] 정확성: 0.1373771730914588
임계값: [0.22010385 0.63600695] 정확성: 0.6386999244142101
임계값: [0.45587033 0.85421558] 정확성: 0.6386999244142101
임계값: [1.63602953 1.72146117] 정확성: 0.15306122448979592
임계값: [0.01390426 1.02149461] 정확성: 0.6386999244142101
임계값: [0.44421562 0.83482201] 정확성: 0.6386999244142101
임계값: [0.23973073 0.67523034] 정확성: 0.6386999244142101
임계값: [0.64640586 1.88581941] 정확성: 0.23847316704459562
임계값: [1.03758124 1.40603792] 정확성: 0.6421012849584278
임계값: [0.7272592  1.94356417] 정확성: 0.23847316704459562
임계값: [0.50356459 1.92489459] 정확성: 0.23847316704459562
임계값: [0.60175662 0.99449701] 정확성: 0.6386999244142101
임계값: [0.07377389 0.56968099] 정확성: 0.6386999244142101
임계값: [1.00535805 1.21912867] 정확성: 0.6386999244142101
임계값: [0.1029575  0.55729293] 정확성: 0.6386999244142101
임계값: [0.47912378 1.81653177] 정확성: 0.23866213151927437
임계값: [0.28978974 0.97890552] 정확성: 0.6386999244142101
임계값: [0.48411054 1.97130091] 정확성: 0.23847316704459562
임계값: [1.34427109 1.52323923] 정확성: 0.4633408919123205
임계값: [0.47527509 1.4564327 ] 정확성: 0.5718065003779289
임계값: [0.73556627 1.26461166] 정확성: 0.6392668178382465
임계값: [1.07154937 1.26705942] 정확성: 0.6392668178382465
임계값: [0.18057954 1.67060499] 정확성: 0.3017762660619803
임계값: [0.37303702 0.64156013] 정확성: 0.6386999244142101
임계값: [0.08155028 1.18178589] 정확성: 0.6386999244142101
임계값: [0.03317566 1.35512872] 정확성: 0.6487150415721844
임계값: [0.45299155 1.02418612] 정확성: 0.6386999244142101
임계값: [0.34873286 1.29034558] 정확성: 0.6394557823129252
임계값: [0.77347069 1.38187548] 정확성: 0.6551398337112623
임계값: [0.27504189 1.87345998] 정확성: 0.23847316704459562
임계값: [0.22694704 0.6821327 ] 정확성: 0.6386999244142101
임계값: [1.75467871 1.84938724] 정확성: 0.12320483749055178
임계값: [0.51588326 1.31996809] 정확성: 0.6415343915343915
임계값: [1.11040162 1.6344444 ] 정확성: 0.3382464096749811
임계값: [0.48370458 1.05930116] 정확성: 0.6386999244142101
임계값: [0.18620554 1.79443152] 정확성: 0.23941798941798942
임계값: [1.26620291 1.80083611] 정확성: 0.23866213151927437
임계값: [0.67805958 0.69841915] 정확성: 0.6386999244142101
임계값: [1.45191136 1.79422052] 정확성: 0.17668178382464098
임계값: [1.55975109 1.77417285] 정확성: 0.15230536659108088
가장 높은 정확성: 0.6551398337112623
가장 높은 정확성을 가진 임계값 조합: [0.77347069 1.38187548]

In [20]:
import statsmodels.api as sm

X_train_with_const = sm.add_constant(X_train)

model_sm = sm.OLS(y_train, X_train_with_const)
result = model_sm.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 credit   R-squared:                       0.026
Model:                            OLS   Adj. R-squared:                  0.024
Method:                 Least Squares   F-statistic:                     19.94
Date:                Wed, 08 May 2024   Prob (F-statistic):           1.71e-98
Time:                        14:23:09   Log-Likelihood:                -22263.
No. Observations:               21165   AIC:                         4.458e+04
Df Residuals:                   21136   BIC:                         4.482e+04
Df Model:                          28
Covariance Type:            nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
const                                      0.6944      0.046     15.260      0.000       0.605       0.784
gender                                    -0.0018      0.011     -0.163      0.871      -0.024       0.020
car                                        0.0147      0.011      1.354      0.176      -0.007       0.036
reality                                   -0.0161      0.011     -1.503      0.133      -0.037       0.005
income_total                            4.441e-08   5.07e-08      0.877      0.381   -5.49e-08    1.44e-07
DAYS_BIRTH                                 0.0022      0.001      3.608      0.000       0.001       0.003
DAYS_EMPLOYED                          -3.934e-05      0.001     -0.045      0.964      -0.002       0.002
work_phone                                -0.0123      0.013     -0.964      0.335      -0.037       0.013
phone                                     -0.0004      0.011     -0.032      0.975      -0.022       0.021
email                                      0.0414      0.017      2.472      0.013       0.009       0.074
family_size                                0.0152      0.008      1.956      0.051   -3.39e-05       0.030
begin_month                                0.0063      0.000     21.641      0.000       0.006       0.007
income_type_Commercial associate           0.1446      0.056      2.581      0.010       0.035       0.254
income_type_Pensioner                      0.0986      0.058      1.706      0.088      -0.015       0.212
income_type_State servant                  0.1370      0.057      2.396      0.017       0.025       0.249
income_type_Student                        0.1859      0.255      0.728      0.467      -0.315       0.686
income_type_Working                        0.1282      0.056      2.299      0.022       0.019       0.237
edu_type_Academic degree                   0.1846      0.128      1.438      0.151      -0.067       0.436
edu_type_Higher education                  0.0828      0.031      2.650      0.008       0.022       0.144
edu_type_Incomplete higher                 0.1536      0.036      4.261      0.000       0.083       0.224
edu_type_Lower secondary                   0.1531      0.049      3.112      0.002       0.057       0.250
edu_type_Secondary / secondary special     0.1203      0.031      3.911      0.000       0.060       0.181
family_type_Civil marriage                 0.0980      0.019      5.268      0.000       0.062       0.134
family_type_Married                        0.1505      0.014     10.390      0.000       0.122       0.179
family_type_Separated                      0.1631      0.020      8.327      0.000       0.125       0.201
family_type_Single / not married           0.1602      0.015     10.481      0.000       0.130       0.190
family_type_Widow                          0.1227      0.023      5.421      0.000       0.078       0.167
house_type_Co-op apartment                 0.0504      0.063      0.794      0.427      -0.074       0.175
house_type_House / apartment               0.1425      0.019      7.657      0.000       0.106       0.179
house_type_Municipal apartment             0.1732      0.029      6.044      0.000       0.117       0.229
house_type_Office apartment                0.1112      0.053      2.117      0.034       0.008       0.214
house_type_Rented apartment                0.0495      0.036      1.372      0.170      -0.021       0.120
house_type_With parents                    0.1676      0.025      6.617      0.000       0.118       0.217
==============================================================================
Omnibus:                     3034.589   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4578.243
Skew:                          -1.139   Prob(JB):                         0.00
Kurtosis:                       3.041   Cond. No.                     1.14e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.41e-18. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
# p-value가 0.05 미만인 변수들과 해당 변수들의 계수 출력
significant_variables = result.pvalues[result.pvalues < 0.05].index
significant_coefficients = result.params[significant_variables]

print("p-value가 0.05보다 작은 변수들과 해당 변수들의 계수:")
for variable, coefficient in zip(significant_variables, significant_coefficients):
    print(f"{variable}: {coefficient}")

p-value가 0.05보다 작은 변수들과 해당 변수들의 계수:
const: 0.6943686351844358
DAYS_BIRTH: 0.00221787266743043
email: 0.04143658023769883
begin_month: 0.006271332548178315
income_type_Commercial associate: 0.1446427692970847
income_type_State servant: 0.13700959838121715
income_type_Working: 0.12819141332787062
edu_type_Higher education: 0.08280635425803928
edu_type_Incomplete higher: 0.15358267665124736
edu_type_Lower secondary: 0.1530814082758964
edu_type_Secondary / secondary special: 0.12025453142451552
family_type_Civil marriage: 0.0979715127424778
family_type_Married: 0.15046280867935716
family_type_Separated: 0.1630821120415332
family_type_Single / not married: 0.16015347563229365
family_type_Widow: 0.12269872609114575
house_type_House / apartment: 0.14249861988386459
house_type_Municipal apartment: 0.173223311726662
house_type_Office apartment: 0.111152046283362
house_type_With parents: 0.1675919860852624