In [1]:
import pandas as pd

train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [2]:
train.shape

(26457, 20)

In [3]:
test.shape

(10000, 19)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [5]:
train.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       8171
family_size         0
begin_month         0
credit              0
dtype: int64

In [6]:
train=train.drop('occyp_type', axis=1)
test=test.drop('occyp_type', axis=1)

In [7]:
unique_len = train.apply(lambda x : len(x.unique()))

unique_len

index            26457
gender               2
car                  2
reality              2
child_num            9
income_total       249
income_type          5
edu_type             5
family_type          5
house_type           6
DAYS_BIRTH        6621
DAYS_EMPLOYED     3470
FLAG_MOBIL           1
work_phone           2
phone                2
email                2
family_size         10
begin_month         61
credit               3
dtype: int64

In [8]:
train=train.drop('index', axis=1)
test=test.drop('index', axis=1)

train=train.drop('FLAG_MOBIL', axis=1)
test=test.drop('FLAG_MOBIL', axis=1)

In [9]:
train['gender'] = train['gender'].replace(['F','M'],[0,1])
test['gender'] = test['gender'].replace(['F','M'],[0,1])
print(train['gender'].value_counts())

train['car'] = train['car'].replace(['N','Y'],[0,1])
test['car'] = test['car'].replace(['N','Y'],[0,1])
print(train['car'].value_counts())

train['reality'] = train['reality'].replace(['N','Y'],[0,1])
test['reality'] = test['reality'].replace(['N','Y'],[0,1])
print(train['reality'].value_counts())

print(train['phone'].value_counts())

print(train['email'].value_counts())    

print(train['work_phone'].value_counts())

0    17697
1     8760
Name: gender, dtype: int64
0    16410
1    10047
Name: car, dtype: int64
1    17830
0     8627
Name: reality, dtype: int64
0    18672
1     7785
Name: phone, dtype: int64
0    24042
1     2415
Name: email, dtype: int64
0    20511
1     5946
Name: work_phone, dtype: int64

In [10]:
train=train.drop('child_num', axis=1)
test=test.drop('child_num', axis=1)
print(train['family_size'].value_counts())

2.0     14106
1.0      5109
3.0      4632
4.0      2260
5.0       291
6.0        44
7.0         9
15.0        3
9.0         2
20.0        1
Name: family_size, dtype: int64

In [11]:
quartiles = train['family_size'].quantile([0.25, 0.5, 0.75])
print(quartiles)

0.25    2.0
0.50    2.0
0.75    3.0
Name: family_size, dtype: float64

In [12]:
train.loc[train['family_size'] >= 4,'family_size']=4
test.loc[test['family_size']>=4, 'family_size']=4
print(train['family_size'].value_counts())

2.0    14106
1.0     5109
3.0     4632
4.0     2610
Name: family_size, dtype: int64

In [13]:
def days_to_year(x):
    if x<0:
        return (x*(-1))/365
    return 0

def minus_to_plus(x):
    if x<0:
        return x*(-1)
    return 0

In [14]:
train['DAYS_BIRTH'] = train['DAYS_BIRTH'].apply(days_to_year)
train['DAYS_EMPLOYED'] = train['DAYS_EMPLOYED'].apply(days_to_year)
train['begin_month'] = train['begin_month'].apply(minus_to_plus)

test['DAYS_BIRTH'] = test['DAYS_BIRTH'].apply(days_to_year)
test['DAYS_EMPLOYED'] = test['DAYS_EMPLOYED'].apply(days_to_year)
test['begin_month'] = test['begin_month'].apply(minus_to_plus)

In [15]:
#생략 가능

train['family_size'] = train['family_size'].astype('int64')
test['family_size'] = test['family_size'].astype('int64')

train['begin_month'] = train['begin_month'].astype('int64')
test['begin_month'] = test['begin_month'].astype('int64')

In [16]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

train['income_type'] = label_encoder.fit_transform(train['income_type'])
test['income_type'] = label_encoder.transform(test['income_type'])

#교육 수준 순서 고려
edu_type_mapping = {
    'Lower secondary': 0,
    'Secondary / secondary special': 1,
    'Incomplete higher': 2,
    'Higher education': 3,
    'Academic degree': 4
}
train['edu_type'] = train['edu_type'].map(edu_type_mapping)
test['edu_type'] = test['edu_type'].map(edu_type_mapping)

train['family_type'] = label_encoder.fit_transform(train['family_type'])
test['family_type'] = label_encoder.transform(test['family_type'])

train['house_type'] = label_encoder.fit_transform(train['house_type'])
test['house_type'] = label_encoder.transform(test['house_type'])

In [17]:
train.head()

,gender,car,reality,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,work_phone,phone,email,family_size,begin_month,credit
0,0,0,0,202500.0,0,3,1,2,38.079452,12.901370,0,0,0,2,6,1.0
1,0,0,1,247500.0,0,1,0,1,31.178082,4.219178,0,0,1,3,5,1.0
2,1,1,1,450000.0,4,3,1,1,52.293151,12.147945,0,1,0,2,22,2.0
3,0,0,1,202500.0,0,1,1,1,41.336986,5.731507,0,1,0,2,37,0.0
4,0,1,1,157500.0,2,3,1,1,41.197260,5.767123,0,0,0,2,26,2.0

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

X = train.drop('credit', axis=1)
y = train['credit']

# 데이터 스케일링
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

model = LogisticRegression(multi_class='multinomial', solver='lbfgs')

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

print(classification_report(y_test, y_pred, zero_division=1))

Accuracy: 0.6390778533635676
              precision    recall  f1-score   support

         0.0       1.00      0.00      0.00       650
         1.0       0.29      0.00      0.00      1262
         2.0       0.64      1.00      0.78      3380

    accuracy                           0.64      5292
   macro avg       0.64      0.33      0.26      5292
weighted avg       0.60      0.64      0.50      5292

In [19]:
from mord import LogisticAT

X = train.drop('credit', axis=1)
y = train['credit']
y = y.astype(int) #Ordinal

# 데이터 스케일링
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

model = LogisticAT()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

print(classification_report(y_test, y_pred, zero_division=1))

Accuracy: 0.6426681783824642
              precision    recall  f1-score   support

           0       1.00      0.00      0.00       650
           1       0.63      0.02      0.04      1262
           2       0.64      1.00      0.78      3380

    accuracy                           0.64      5292
   macro avg       0.76      0.34      0.27      5292
weighted avg       0.68      0.64      0.51      5292

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, log_loss

X = train.drop('credit', axis=1)
y = train['credit']

# 데이터 스케일링
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# 모델 생성 및 학습
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)

# 평가
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print(classification_report(y_test, y_pred, zero_division=1))

# Log loss 계산
logloss = log_loss(y_test, y_pred_proba)
print("Log Loss:", logloss)

Accuracy: 0.6390778533635676
              precision    recall  f1-score   support

         0.0       1.00      0.00      0.00       650
         1.0       0.29      0.00      0.00      1262
         2.0       0.64      1.00      0.78      3380

    accuracy                           0.64      5292
   macro avg       0.64      0.33      0.26      5292
weighted avg       0.60      0.64      0.50      5292

Log Loss: 0.8678694438629174